<div class="product-specs-container">
  <div class="product-specs-head">
    <div class="product-specs-head-flex">
      <div class="product-specs-left">
        <div class="product-specs-inner-flex">
          <div class="product-specs-inner-left">
            <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-1.png?v=1692640155" alt="">
          </div>
          <div class="product-specs-inner-right">
            <h6>10 July, Friday</h6>
            <p>Order Sent</p>
          </div>
        </div>
      </div>
      <div class="product-specs-center">
        <div class="center-arrow-image">
          <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/arrow.png?v=1692640166" alt="">
        </div>
      </div>
      <div class="product-specs-right">
        <div class="product-specs-inner-flex">
          <div class="product-specs-inner-left">
            <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-2.png?v=1692640156" alt="">
          </div>
          <div class="product-specs-inner-right">
            <h6>17 July, Friday</h6>
            <p>Order Received</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-specs-rows">
    <div class="product-specs-row">
      <div class="product-specs-row-flex">
        <div class="product-specs-row-left">
          <div class="product-specs-row-inner-flex">
            <div class="product-specs-row-inner-left">
              <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-3.png?v=1692640166" alt="">
            </div>
            <div class="product-specs-row-inner-right">
              <h5>Free Shipping</h5>
            </div>
          </div>
        </div>
        <div class="product-specs-row-right">
          <div class="product-specs-row-inner-flex">
            <div class="product-specs-row-inner-left">
              <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-4.png?v=1692640166" alt="">
            </div>
            <div class="product-specs-row-inner-right">
              <h5>Excellent Quality</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-specs-row">
      <div class="product-specs-row-flex">
        <div class="product-specs-row-left">
          <div class="product-specs-row-inner-flex">
            <div class="product-specs-row-inner-left">
              <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-5.png?v=1692640166" alt="">
            </div>
            <div class="product-specs-row-inner-right">
              <h5>2 Years Warranty</h5>
            </div>
          </div>
        </div>
        <div class="product-specs-row-right">
          <div class="product-specs-row-inner-flex">
            <div class="product-specs-row-inner-left">
              <img src="https://cdn.shopify.com/s/files/1/0804/7368/6324/files/icon-6.png?v=1692640167" alt="">
            </div>
            <div class="product-specs-row-inner-right">
              <h5>2,131 Happy Customers</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>