<div class="offer-wrapper">
  <div class="page-width">
    <div class="offer-text">
      {{ settings.promo_message_before }}
      <span class="promo_remaining">
        2
      </span>
      {{ settings.promo_message_after }}
    </div>
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
    <div class="items-count">
      <span class="cart-total-quant">0</span>/{{ settings.promo_quantity }}
    </div>
  </div>
</div>



 